# Core Packages
matplotlib
numpy
pandas
scikit-learn
tqdm
torch
transformers

# CLIP (OpenAI)
git+https://github.com/openai/CLIP.git

# Geospatial
geopandas
hdbscan

# Compute / Storage
s3fs
smart_open[s3]
